<?xml version="1.0"?>

<launch>
    <arg name="bag_in_filename"     value="flightB"/>
    <arg name="bag_out_filename"    value="compare_roscopter"/>
    <arg name="boat_imu"            value="/boat/imu"/>
    <arg name="base_2_rover_relPos" value="/rover/RelPos"/>
    <arg name="rover_PosVelEcef"    value="/rover/PosVelEcef"/>
    <arg name="boat_PosVelEcef"     value="/boat/PosVelEcef"/>
    <arg name="compass_relPos"      value="/boat/compass/RelPos"/>
    <arg name="ref_lla"             value="/ref_lla"/>
    <arg name="rover_posVelEcef"    value="/rover/PosVelEcef"/>
    <arg name="params_file"         value="params"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock ../data/px4flight/outdoor/0318/$(arg bag_in_filename).bag"/>

    <rosparam command="load" file="$(find boat_estimator)/params/$(arg params_file).yaml"/>
    <node name="boat_estimator" pkg="boat_estimator" type="estimator_ros.py" output="screen">
        <remap from="imu" to="$(arg boat_imu)"/>
        <remap from="base_2_rover_relPos" to="$(arg base_2_rover_relPos)"/>
        <remap from="rover_posVelEcef" to="$(arg rover_PosVelEcef)"/>
        <remap from="base_posVelEcef" to="$(arg boat_PosVelEcef)"/>
        <remap from="compass_relPos" to="$(arg compass_relPos)"/>
        <remap from="ref_lla" to="$(arg ref_lla)"/>
    </node>

    <node name="ref_lla_temp" pkg="boat_estimator" type="ref_lla_temp.py" output="screen">
        <remap from="rover_posVelEcef" to="$(arg rover_posVelEcef)"/>
    </node>
    <!--TODO: Figure out how to get this in real world scenario-->

    <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/px4flight/sim/$(arg bag_out_filename).bag --all"/>
</launch>
